<!-- Barra de navegación para el portafolio -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-color">
    <div class="container-fluid">
        <a class="nav-item nav-link active text-logo" href="#" aria-current="page">MG <span class="visually-hidden pr-2">(current)</span></a>
        <button class="navbar-toggler" type="button" aria-controls="navbarContent"
			[attr.aria-expanded]="!collapsed"
			aria-label="Toggle navigation" (click)="collapsed = !collapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse items-computer ml-2" [class.collapse]="collapsed" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" >Home</a>
                </li>

				<li class="nav-item logout-sm pt-1">
					<button type="button" class="btn btn-success btn-sm">Cerrar Sesión</button>
				</li>

            </ul>
        </div>
        <button type="button" class="btn btn-success logout">Cerrar Sesión</button>
    </div>
</nav>
