<!-- Barra de navegación para el portafolio -->
<div class="navigation">
    <div class="container-nav">
        <div class="nav-logo">
            <a class="text-logo" [routerLink]="['portafolio']" aria-current="page">
                <img src="assets/images/logo.png" alt="">
            </a>
            <button class="btn btn-sm" type="button" aria-controls="navbarContent" aria-label="Toggle navigation" (click)="togle()">
                <span class="navbar-toggler-icon"></span>
                <svg xmlns="http://www.w3.org/2000/svg" 
                    fill="none" viewBox="0 0 24 24" 
                    strokeWidth={1.5} stroke="currentColor" class="m">
                    <path strokeLinecap="round" strokeLinejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div> 
        <div class="nav-items">
            <nav class="navbar-color">
                <div class="container container-navbar">
                    <div class="items-computer ml-2" [class]="display" id="navbarContent">
                        <div class="navbar-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" 
                                fill="none" viewBox="0 0 24 24" 
                                strokeWidth={1.5} 
                                stroke="currentColor"
                                class="text-primary w-25" (click)="togle()">
                                <path strokeLinecap="round" strokeLinejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </div>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-portafolio navbar-items-sm">
                            <li class="nav-item portafolio">
                                <a class="nav-link" [routerLink]="['portafolio']" routerLinkActive="active" aria-current="page">Inicio</a>
                            </li>

                            <li class="nav-item skills">
                                <a class="nav-link" [routerLink]="['portafolio/skills']" routerLinkActive="active" aria-current="page" >Habilidades</a>
                            </li>

                            <li class="nav-item projects">
                                <a class="nav-link" [routerLink]="['portafolio/projects']" routerLinkActive="active" aria-current="page" >Proyectos</a>
                            </li>

                            <li class="nav-item contact">
                                <a class="nav-link" [routerLink]="['portafolio/contact']" routerLinkActive="active" aria-current="page" >Contacto</a>
                            </li>

                            <li class="nav-item blog">
                                <a class="nav-link" [routerLink]="['portafolio/blog']" routerLinkActive="active" aria-current="page" >Blog</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>


