.navigation{
    position: fixed;
    width: 10%; /*Manual xp no se esta heredando directamente del padre*/
    height: 100vh;
    background-color: #0a192f;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0s;
    z-index: 2;
}
.container-nav{
    height: 100%;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    border-right: 2px solid var(--border-color);
}
.container-nav .nav-logo{
    width: 100%;
    height: 300px;
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    padding: 1rem 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.container-nav .nav-logo .name{
    margin: 0px;
    padding: 15px 0px 0px;
    text-transform: uppercase;
    font-size: 20px;
}

.container-nav .nav-logo .activity{
    margin: 0px;
    text-transform: uppercase;
    font-size: 12px;
}

.container-nav .nav-items{
    width: 100%;
    height: 100vh;
}

.navbar-items{
    display: block !important;
    flex-flow: row wrap !important;
}
.navbar-sm{
    display: none;
    color: #fff;
}

.nav-item .nav-link{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid #94a9c9;
}

.nav-item .nav-link fa-icon{
    padding-right: 5px;
}

.btn-togle{
    display: none;
}

@media (max-width: 768px) {

    .btn-togle{
        display: block;
    }
    .navigation{
        width: 100%;
        height: 250px;
        display: block !important;
        background-color: transparent !important;
    }
    .container-nav{
        height: 80px;
        display: flex;
        flex-direction:column !important;
        position: relative;
        background-color: #fdfcfc;
    }
    .container-nav .nav-logo{
        width: 100%;
        height: inherit;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .container-nav .nav-logo .container-logo{
        width: 80%;
        display: flex;
        color: #f1f2f5;
        padding-top: 2px;
        padding-bottom: 5px;
    }
    .container-nav .nav-logo .container-togle{
        width: 20%;
        color: #f1f2f5;
        padding-top: 2px;
        padding-bottom: 5px;
        display: flex;
        justify-content: flex-end;
    }
    .container-nav .nav-logo .container-togle .btn-brands{
        color: #132143 !important;
        font-size: 30px;
    }
    .container-nav .nav-logo .container-togle .btn-brands svg{
        width: 40px !important;
        color: #132143 !important;
    }

    /* Ocultar los items del navbar cuando estamos en un ancho de 360px*/
    .navbar-items{
        display: none !important;
        flex-flow: row wrap !important;
        z-index: 2;
    }
    /* Estilos para el boton de cerrar los items del navbar*/
    .navbar-sm>svg{
        float: right;
        color: #0a192f;
    }

    .navbar-sm>svg:hover{
        animation: rotation 2s 1 linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(180deg);
        }
    }

    .navbar-portafolio{
        position: absolute;
        display: flex !important;
        flex-direction: column !important;
    }
    
    /* Estilos para el contenido de los items del navbar (figurar redondeada en la parte derecha superior)*/
    .navbar-sm{
        display: block;
        width: 250px;
        height: 250px;
        border: 2px solid #65cd6845; 
        background-color: #2ca82f;
        clip-path: circle(50% at top right);
        animation-name: animation1;
        animation-duration: 1.5s;
        float: right;
    }

    @keyframes animation1 {
        from {clip-path: circle(20% at top right);}
        to {clip-path: circle(50% at top right)}
    }

    .navbar-sm:active{
        background-color: #132143;
        transition-property: background-color;
        transition-duration: 3s;
    }
    .navbar-items-sm{
        position: absolute;
        /* background-color: #2dc84c21; */
        background-color: #132143;
        width: 250px;
        height: 250px; 
        clip-path: circle(100% at top right);
        animation-name: animation2;
        animation-duration: 2s;
        right: 0px;
        padding-top: 0;
        z-index: -1;
    }
    
    @keyframes animation2 {
        from {clip-path: circle(60% at top right);}
        to {clip-path: circle(100% at top right)}
    }
    
    .portafolio{
        position: relative;
        left: 30px;
        top: 15px;
    }
    .skills{
        position: relative;
        left: 40px;
        top: 20px;

    }
    .projects{
        position: relative;
        left: 70px;
        top: 25px;
    }
    .contact{
        position: relative;
        left: 110px;
        top: 30px;
    }
    .blog{
        position: relative;
        left: 160px;
        top: 35px;
    }
    .projects>a, .contact>a{
        letter-spacing: 1px;
    }
    .portafolio>a, .blog>a{
        letter-spacing: 5.5px;
    }
    .items-computer{
        position: absolute;
        top: 0px !important;
        z-index: 1;
        background: transparent;
        width: 100%;
        left: 0;
        /* padding: 1px 10px 1px 10px; */
    }
    .nav-link{
        color: #d8d9db;
    }
    .text-logo{
        color: #fff;
    }
    .navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
        color: #2dc84d;
        font-weight: 300;
    }
}
