<div class="container container-page">
    <app-title-portafolio 
        title="Contacto"
        description="Si piensas que mi perfil responde a tus necesidades o necesitadas ayuda en algún tipo de proyecto, te dejo los medios en los que puede contactarte conmigo."
    />
    <div class="container row py-4 contact">
        <div class="col-md-6 container-icons">
            <app-socials-media 
                *ngFor="let item of links" 
                [icono]="item.icon"
                [text]="item.text"
                [description]="item.description"
            />
        </div>
        <div class="col-md-6">
            <form class="from-contact">
                <div class="from-group mb-4">
                    <label class="label" for="asunto">Asunto</label>
                    <input type="text" class="form-control" name="asunto" value="" placeholder="Ingresar el asunto"/>
                </div>
                <div class="from-group mb-4">
                    <label class="label" for="email">Email</label>
                    <input type="email" class="form-control" name="email" value="" placeholder="Ingresar su email"/>
                </div>
                <div class="from-group mb-4">
                    <label class="label" for="descripcion">Descripción</label>
                    <textarea class="form-control" name="descripcion" rows="2" cols="1" placeholder="Describir el asunto"></textarea>
                </div>
                <div class="from-group mb-4">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
