.from-contact{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 50px;
}
.from-contact .from-group{
    position: relative;
}
.from-contact .from-group .label{
    position: absolute;
    left: 20px;
    top: -18px;
    display: inline-block;
    padding: 0px 0.5rem;
    color: #0f172a;
    border-bottom: 1.5px solid #f9f4f4;
}

.from-contact .from-group .form-control::placeholder {
    color: #d4d2d2;
}

/*Iconos*/
.container-icons{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}