<div class="container text-center">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="container-left">
                <div class="message">
                    <h1 class="title-message">
                        Saludos, me apasiona 
                    </h1>
                    <h2 class="subtitle-message">
                        <ngtypewriter class="ng-type-writer" [StringList]='list' [speed]='1000'></ngtypewriter>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="skill">
                <div class="canvas">
                    <tag-canvas #skills [tags]="tags" [options]="options" (tagClick)="tagClicked($event)"></tag-canvas>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(modal)">Launch demo modal</button> -->
        </div>
    </div>
</div>
<!-- <app-modal-bootstrap></app-modal-bootstrap> -->
<ng-template #modal let-modal>
	<div class="modal-header">
		<h4 class="modal-title">{{ titleModal }}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>{{ contentModal }}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>