.container-left{
    /* background: #0bd1d1; */
    z-index: 1;
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.links{
    text-align: left;
    display: flex;
    justify-content: left;
}
.message{
    width: 100%;
    height: 250px;
    text-align: left;
    color: #132143;
}

.message p{
    font-size: 20px;
    line-height: 30px;
}

.message .title-message{
    color: #132143;
    text-align: left;
    font-weight: 900;
    font-family: 'Inter';
    font-size: clamp(40px, 8vw, 50px);
}

.message>.subtitle-message>.ng-type-writer{
    background: linear-gradient(90deg,#2dc84d,#77ce70 51%,#2dc84d) var(--x,0)/200%;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
    background-clip: text!important;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Inter';
}

.banner-img{
    z-index: 1;
    width: 100%;
    height: calc(100vh - 90px);
}
.banner-img .figure-1 {
    position: absolute;
    top: 33%;
    left: 0;
}
.banner-img .figure-2 {
    position: absolute;
    top: 18%;
    right: 15%;
    animation: hero-thumb-animation 2s linear infinite alternate;
}
.banner-img .figure-3 {
    position: absolute;
    bottom: 4%;
    left: 9%;
    animation: hero-thumb-animation 2s linear infinite alternate;
}
.banner-img .figure-4 {
    position: absolute;
    bottom: 37%;
    right: 4%;
    animation: wiggle 2s linear infinite alternate;
}

.banner-img img {
    z-index: 3;
    position: relative;
    display: block;
    margin: auto;
}

.banner-img .figure-1 img {
    animation: animationFramesOne 20s linear infinite alternate;
}
.banner-img .figure-2 img {
    animation: rotateMe 10s linear infinite alternate;
}

@keyframes animationFramesOne {
    0% {
        transform:translate(0) rotate(0deg)
    }
    20% {
        transform:translate(73px,-1px) rotate(36deg)
    }
    40% {
        transform:translate(141px,72px) rotate(72deg)
    }
    60% {
        transform:translate(83px,122px) rotate(108deg)
    }
    80% {
        transform:translate(-40px,72px) rotate(144deg)
    }
    to {
        transform:translate(0) rotate(0deg)
    }
}
@keyframes rotateMe {
    0% {
        transform:rotate(0deg)
    }
    to {
        transform:rotate(1turn)
    }
    }
    @keyframes moveScale {
    0% {
        transform:scale(1)
    }
    50% {
        transform:scale(.8)
    }
    to {
        transform:scale(1)
    }
}
@keyframes wiggle {
    0%,
    to {
        transform:scale(1.2) rotate(7deg)
    }
    50% {
        transform:scale(.8) rotate(-7deg)
    }
}
@keyframes hero-thumb-animation {
    0% {
        transform:translateY(-20px)
    }
    to {
        transform:translateY(0)
    }
}


@media (max-width: 576px) {
    .container-home{
        padding-top: 100px;
    }
    .container-left, .banner-img{
        height: 300px;
    }
    .message p{
        font-size: 13px !important;
        line-height: 30px;
    }
    .message .title-message{
        font-size: clamp(20px, 8vw, 30px) !important;
    }
    .message>.subtitle-message>.ng-type-writer{
        font-size: clamp(15px, 8vw, 20px) !important;
    }
}

.hOvuuP {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 50px;
  right: auto;
  z-index: 10;
  color: blacks;
}

.dVLQAC {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.dVLQAC li{
    height: 50px;
    width: 50px;
    border-style: solid;
    border-radius: 50%;
}
.dVLQAC li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.dVLQAC li a svg{
    width: 26px;
}

.dVLQAC::after {
  content: "";
  display: block;
  width: 1px;
  height: 150px;
  margin: 0px auto;
  background-color: black;
}