.container-left{
    /* background: #0bd1d1; */
    z-index: 1;
    width: 100%;
    /* height: calc(100vh - 200px); */
}
.links{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.skill{
    position: relative;
    width: 100%;
}
.canvas{
    position: absolute;
    top: 0%;
    left: 10%;
}

.canvas>tag-canvas{
    box-sizing: content-box;
    /* background-color: aqua; */
    width: 450px !important;
    height: 450px !important;
}

@media (max-width: 360px) {
    .canvas>tag-canvas{
        box-sizing: content-box;
        /* background-color: aqua; */
        width: 200px !important;
        height: 200px !important;
    }
}
@media (max-width: 768px) {
    .canvas>tag-canvas{
        box-sizing: content-box;
        /* background-color: aqua; */
        width: 250px !important;
        height: 250px !important;
    }
}