<div class="container">
    <div class="container-title row">
        <div class="col-md-6 col-sm-12">
            <h1 class="title">
                Habilidades
            </h1>
            <p>
                Los proyectos en los que participado me han permitido fortalecer los conocimientos adquiridos con esfuerzo y dedicación.
            </p>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="container-left flex-column">

                <div class="links" *ngIf="tags.length>0">

                    <div class="skill" *ngFor="let skill of tags">
                        <div class="title">
                            {{ skill.text }}
                        </div>
                        <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-success" [ngStyle]="{'width': skill.percent+'%'}">{{ skill.percent }}%</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="skill">
                <div class="canvas">
                    <!-- <tag-canvas #skills [tags]="tags" [options]="options" (tagClick)="tagClicked($event)"></tag-canvas> -->
                </div>
            </div>
        </div>
        <div class="col">
            <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(modal)">Launch demo modal</button> -->
        </div>
    </div>
</div>
<!-- <app-modal-bootstrap></app-modal-bootstrap> -->
<ng-template #modal let-modal>
	<div class="modal-header">
		<h4 class="modal-title">{{ titleModal }}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>{{ contentModal }}</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>
