<div class="container container-page">
    <div class="container-title row">
        <div class="col-md-6 col-sm-12">
            <h1 class="title">
                Proyectos
            </h1>
            <p>
                Los proyectos en los que participado me han permitido fortalecer los conocimientos adquiridos con esfuerzo y dedicación.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="container">
            <div class="container-card row">

                <div class="card-project col-md-3 mx-2 my-1">
                    <div class="card-container card-header">
                        <img src="assets/images/projects/project-coop.png" class="icon-projet" alt="">
                    </div>
                    <div class="card-container card-body">
                        <div class="card-description">
                            <h1 class="title">
                                Proyecto 1
                            </h1>
                            <p>
                                Noviwembre 2018 Abril 2019
                            </p>
                            <h1 class="title">Herrameintas utilizadas</h1>
                            <ul>
                                <li>
                                    <small>.Net</small>
                                </li>
                                <li>
                                    <small>SqlServer</small>
                                </li>
                                <li>
                                    <small>Aspose Pdf .Microsoft Excel </small>
                                </li>
                            </ul>                      
                        </div>
                    </div>
                </div>

                <div class="card-project col-md-3 mx-2 my-1">
                    <div class="card-container card-header">
                        <img src="assets/images/projects/project-istlama.png" class="icon-projet" alt="">
                    </div>
                    <div class="card-container card-body">
                        <div class="card-description">
                            <h1 class="title">
                                Proyecto 2
                            </h1>
                            <p>
                                Ocubre 2019 Abril 2020
                            </p>
                            <h1 class="title">Herrameintas utilizadas</h1>
                            <ul>
                                <li>
                                    <small>Laraval</small>
                                </li>
                                <li>
                                    <small>Mysql</small>
                                </li>
                                <li>
                                    <small>JQuery</small>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="card-project col-md-3 mx-2 my-1">
                    <div class="card-container card-header">
                        <img src="assets/images/projects/protect-portafolio.png" class="icon-projet" alt="">
                    </div>
                    <div class="card-container card-body">
                        <div class="card-description">
                            <h1 class="title">
                                Proyecto 3
                            </h1>
                            <p>
                                Febrero 2022 
                            </p>
                            <h1 class="title">Herrameintas utilizadas</h1>
                            <ul>
                                <li>
                                    <small>CodeIgniter</small>
                                </li>
                                <li>
                                    <small>React</small>
                                </li>
                                <li>
                                    <small>Mysql</small>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="card-project col-md-3 mx-2 my-1">
                    <div class="card-container card-header">
                        <img src="assets/images/projects/protect-portafolio.png" class="icon-projet" alt="">
                    </div>
                    <div class="card-container card-body">
                        <div class="card-description">
                            <h1 class="title">
                                Proyecto 4
                            </h1>
                            <p>
                                Junio 2022 
                            </p>
                            <h1 class="title">Herrameintas utilizadas</h1>
                            <ul>
                                <li>
                                    <small>React</small>
                                </li>
                                <li>
                                    <small>Tailwind CSS</small>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                
                
                
                <!-- <div class="card-project col-md-3 mx-1 my-1">
                    <div class="card-header face1">
                        <div class="content-title">
                            <fa-icon [icon]="faFileArchive" class="icon-projet"></fa-icon>
                            <h3>2020</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nemo, ut modi veniam tempora at expedita, 
                            veritatis nobis aliquid maiores, voluptas dolor placeat nesciunt! Aliquam maiores facilis aut neque quo.
                        </div>
                    </div>
                </div>
                <div class="card-project col-md-3 mx-1 my-1">
                    <div class="face face1">
                        <div class="content">
                            <fa-icon [icon]="faFileArchive" class="icon-projet"></fa-icon>
                            <h3>Design</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nemo, ut modi veniam tempora at expedita, 
                            veritatis nobis aliquid maiores, voluptas dolor placeat nesciunt! Aliquam maiores facilis aut neque quo.
                        </div>
                    </div>
                </div>
                <div class="card-project col-md-3 mx-1 my-1">
                    <div class="face face1">
                        <div class="content">
                            <fa-icon [icon]="faFileArchive" class="icon-projet"></fa-icon>
                            <h3>Design</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nemo, ut modi veniam tempora at expedita, 
                            veritatis nobis aliquid maiores, voluptas dolor placeat nesciunt! Aliquam maiores facilis aut neque quo.
                        </div>
                    </div>
                </div>
                <div class="card-project col-md-3 mx-1 my-1">
                    <div class="face face1">
                        <div class="content">
                            <fa-icon [icon]="faFileArchive" class="icon-projet"></fa-icon>
                            <h3>Design</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nemo, ut modi veniam tempora at expedita, 
                            veritatis nobis aliquid maiores, voluptas dolor placeat nesciunt! Aliquam maiores facilis aut neque quo.
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
