<div class="container container-page">
    <app-title-portafolio 
        title="Proyectos"
        description="Los trabajos personales, y trabajos en los que participo con profesionales de diferentes áreas me permiten evolucionar como desarrollador de aplicaciones y como persona."
    />
    <div class="container-project">
        <div class="card-group">
            <div class="container-card row">

                <!-- <app-card-project 
                    *ngFor="let project of projects"
                    [name]="project.nombre"
                    [date]="project.fecha"
                    programas="project.programas"
                    class="col-sm-12 col-md-4 card-project"
                /> -->
             
                <div class="card-project col-sm-12 col-md-4" *ngFor="let project of projects">
                    <div class="card-container card-header">
                        <img [src]="project.imagen" class="icon-projet" alt="">
                        <div class="view">
                            <fa-icon [icon]="faEyeLowVision"></fa-icon>
                        </div>
                    </div>
                    <div class="card-container card-body">
                        <div class="card-description">
                            <h1 class="title"> {{ project.nombre }}</h1>
                            <p>{{ project.fecha }}</p>
                            <h1 class="title">Herramientas utilizadas</h1>
                            <ul *ngIf="project.programas">
                                <li *ngFor="let programa of project.programas">
                                    <small>{{ programa.nombre }}</small>
                                </li>
                            </ul>
                        </div>
                        <div class="links">
                            <div class="zoom" (click)="openModalProject(project.id)">
                                <fa-icon [icon]="faEyeLowVision"></fa-icon>
                            </div>
                            <div class="zoom">
                                <fa-icon [icon]="faLink"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<ng-template #modal let-modal>
	<div class="modal-header">
		<h4 class="modal-title">{{ project.nombre }}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<img [src]="project.imagen" class="img-fluid" alt="project.nombre">
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light btn-sm" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>