/* You can add global styles to this file, and also import other style files */
body {
    color: #dfe1e0;
    /* background-color: #0f172a; */
    font-family: 'Noto Sans',sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
    background-color: #e8e8e8;
}

.btn-portafolio{
    background: #0ea5ea;
    background: linear-gradient(90deg,#4db987,#51d706 51%,#4dba87) var(--x,0)/200%;
    color: #fff;
    border: 0px solid #0bd1d1;
    transition: .5s;
}

.btn-portafolio:hover{
    background: #0ea5ea;
    background: linear-gradient(90deg,#4db987,#51d706 -51%,#4dba87) var(--x,0)/200%;
    color: #fff;
    border: 0px solid #0bd1d1;
    transition: .5s;
}

.Bold700{
    font-family: 'Noto Sans', sans-serif;
}

* {
  box-sizing: border-box;
}
h1, h2 {
    font-family: Noto Sans,sans-serif;
    color: #000;
}
.cover-home1:after, .cover-home1:before {
    width: 500px;
    content: "";
    z-index: 0;
    position: absolute;
}
.cover-home1:after {
    height: 100%;
    width: 50%;
    /* background: url(/assets/images/shadowleft.svg) no-repeat 100% 0; */
    left: 0;
    top: 0;
    z-index: -1;
}

.form-control {
    border: 1px solid #0f172a;
}

/* Modal */
.modal-header, .modal-footer {
  padding: 5px 20px;
  color: #0f172a;
}
.modal-header .modal-title{
  font-size: 17px;
}
.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 .25rem rgb(251, 251, 252);
  opacity: 1;
  height: 4px;
  width: 4px;
}

@media (max-width: 576px){
    .cover-home1:after {
        height: 100%;
        /* width: 50%; */
    }
}

@media (max-width: 576px){
    .container-page {
        padding-top: 100px;
    }
}