.footer{
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    background-color: #0f172a !important;
    
}

@media (min-width: 1200px){
    .footer {
        padding: 20px 100px;
    }
}

.behind, .front{
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer .behind .container-behind{
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer .behind .container-behind .title-behind{
    font-size: clamp(26px,5vw,10px);
    font-family: 'Inter';
    color: #f0f1f21f !important;
    z-index: -0;
}

.footer .behind .copyright-behind{
    position: absolute;
    top: 10px;
    font-size: clamp(15px,1vw,10px);
    font-family: 'Noto Sans';
    font-weight: 100;
    z-index: 4;
}

/** Redes sociales */
.sociales-links{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.item-socials{
    list-style: none;
    padding-left: 1px;
    padding-right: 1px;
}
.item-socials .link-social{
    text-decoration: none;
    font-size: 30px;
}
.item-socials .link-social span{
    text-decoration: none;
    font-size: 15px !important;
}
