.footer{
    width: 100%;
}

@media (min-width: 1200px){
    .footer {
        padding: 1px 25px;
    }
}

.behind, .front{
    padding-top: 30px;
    padding-bottom: 5px;
}

.footer .behind .container-behind{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 40px;
}

.footer .behind .container-behind .title-behind{
    font-size: clamp(26px,5vw,10px);
    font-family: 'Inter';
    color: #186dc320 !important;
    z-index: -0;
}

.footer .behind .copyright-behind{
    position: absolute;
    top: 10px;
    font-size: clamp(15px,1vw,10px);
    font-family: 'Noto Sans';
    font-weight: 100;
    z-index: 4;
}

/** Redes sociales */
.container-front{
    width: 100%;
    /* background-color: #132143; */
    justify-content: left;
}
.sociales-links{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 1px !important;
    padding-right: 4px !important;
}
.item-socials{
    list-style: none;
    padding-left: 1px;
    padding-right: 1px;
}
.item-socials .link-social{
    text-decoration: none;
    font-size: 30px;
    color: #8892b0;
}
.item-socials .link-social span{
    text-decoration: none;
    font-size: 15px !important;
}

.item-socials .link-social:hover{
    transition: 0.3s;
    color: #132143;
}

@media (max-width: 360px) {
    .item-socials .link-social span{
        text-decoration: none;
        font-size: 12px !important;
    }
}